.App {
  text-align: center;
}

.getSomeCoffeLink {
  color: #b39261;
}

.homepageLink {
  color: #b39261;
}

.homepage_mainImage {
  height: 200px;
  border-radius: 57px;
}

.coffeeVendor {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.coffeeVendor_stock_list {
  list-style-type: none;
}

.coffeeVendor_chosen_extras_list {
  list-style-type: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
